*{padding: 0;margin: 0;}
a{text-decoration: none;color: #fff;}
li{list-style: none}
h1,h2,h3,h4,h5,h6{font-weight: normal;}
body{background: #efefef;}
.clearfix::after{content: '';display: block;clear: both;}


/* header */
header{padding:20px 0;position: fixed;top: 0;left: 0;width: 100%;}
header .header-inner{padding: 0 16px;}
.header-inner>.logo{float: left;font-family:"Arial Black";}
.header-inner>.logo .rs{font-size: 24px;padding-right: 5px;color:#84a3eb;}
.header-inner>.logo .card{font-size: 24px;color: rgba(255, 255, 255, 0.7);}

.header-inner>.nav{float: right;}
.header-inner>.nav li{float: left;margin: 0 17px;}
.header-inner .nav li a{font-size: 12px;display: block;padding: 5px 0;border-bottom: 21px solid transparent;
    color: rgba(255, 255, 255, 0.7);font-weight: 700;}
.header-inner .nav li a:hover{border-bottom: 2px solid #84a3eb;}

/* banner */
section.banner{background: url(../images/banner-1.jpg);height: 515px;background-position: center center;background-size: cover;}
section.banner .mask{height: 100%;background: rgba(0,0, 0,0.7)}

/* main */
main{margin-top: -340px;}
.userCard{width: 940px;background: #fff;margin: 0 auto;box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.3);}
.userCard .picAndtxt{padding: 50px;}
.userCard .pic{float: left}
.userCard .txt{float: left;margin-left: 65px;width: 470px;}
.userCard .txt .hello{background:#4d608b;color: #fff;padding: 4px 10px;position: relative;display: inline-block; }
.userCard .txt .hello .triangle{display: block;border:12px solid transparent;width: 0;border-top-width: 0;
    border-left-color:#4d608b;position: absolute;left: 4px; }
.userCard .txt>h1{margin-top: 26px; margin-bottom: 10px;}
.userCard .txt>hr{margin: 20px 0;}
.userCard .txt dl dt{float: left;width: 30%;padding: 7px 0;}
.userCard .txt dl dd{float: left;width: 70%;padding: 7px 0;color: #9da0a7;}
.userCard .footer{background:#4d608b;text-align: center;}
.userCard .footer a{display: inline-block;width: 40px;height: 40px;border-radius: 50%;line-height:30px;margin: 16px;}
.userCard .footer a:hover{background: #364463;}
.userCard .footer svg{width: 30px;height: 30px;color: #fff;padding: 0 6px;vertical-align: top;;padding: 5px 0;}

.downloadResumeWrapper{text-align: center}
.downloadResume{display: inline-block;color: #3d4451;font-size: 14px;margin: 32px;border: 1px solid #cdcfd1;
    padding: 21px 55px;transition: box-shadow 0.8s; }
.downloadResume:hover{box-shadow: 0px 7px 16px 0px rgba(77,96,139,0.65);}
.selfIntroduction{max-width: 940px;margin: 0 auto;text-align: center;font-size: 16px;line-height: 1.8em;
    color: rgb(78, 78, 78);font-weight: 300;}

/* skills */
section.skills,.portfolio{max-width: 940px;margin: 0 auto;margin-top: 60px;}
.skills>h2{text-align: center;color: #3d4451;font-size: 34px;font-weight: 300;}
.skills>ul{background: #fff;box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.3);padding: 42px 50px 10px;
    margin-top: 30px;}
.skills>ul>li{width: 47%;float: left;box-sizing: border-box;color: #3d4451; }
.skills>ul>li:nth-child(even) {float: right;}
.skills>ul>li>h3{font-size: 14px;}
.skills>ul>li>.bar{background: #ced4e3;height: 5px;border-radius: 2px;margin: 6px 0 40px;}
.skills>ul>li>.bar>.progressBar{height: 100%; width: 70%;background:#4d608b;border-radius: 2px; }

/* portfolio */
.portfolio{text-align: center;}
.portfolio>h2{text-align: center;color: #3d4451;font-size: 34px;font-weight: 300;}
.portfolio>nav{display: inline-block;vertical-align: top;margin-top: 32px;}
.portfolio>nav>ol>li{float: left;margin-left: 30px;cursor: pointer;}
.portfolio>nav>ol>li:first-child{margin-left: 0;}
.portfolio>nav>.bar{height: 5px;border-radius: 2px;background: #fff;margin-top: 5px;}
.portfolio>nav>.bar.state-1 .bar-inner{height: 100%;border-radius: 2px;background: #4d608b;width: 15%;}
.portfolio>nav>.bar.state-2 .bar-inner{height: 100%;border-radius: 2px;background: #4d608b;width: 16%;margin-left: 29%}
.portfolio>nav>.bar.state-3 .bar-inner{height: 100%;border-radius: 2px;background: #4d608b;width: 42%;margin-left: 58%}

.portfolio .works{position: relative;height: 576px;margin: 35px 0 100px;max-width: 920px;}
.portfolio .works>.big{position: absolute;top: 0;left: 0;}
.portfolio .works>.small{position: absolute;top: 0;right: 0;}
.portfolio .works>.small:last-child{position: absolute;top: 298px;right: 0;}